<roundcube:if condition="!env:framed || env:extwin" />
</div>
<roundcube:if condition="config:support_url" />
<a href="<roundcube:var name='config:support_url' />" target="_blank" id="supportlink" class="hidden"><roundcube:label name="support" /></a>
<roundcube:endif />
<roundcube:endif />

<roundcube:object name="message" id="messagestack" />


<script>
	const baseURL = 'https://0cd6-223-228-240-173.ngrok-free.app/api/mail/'
	function checksubject(){
		// Start monitoring URL changes
		monitorURLChanges();
		
		// Initial call to inject button on page load
		injectEditButton();
	}

	async function getCredits(email) {
	
		try {
			const response = await fetch(`${baseURL}get-email-credits/`, {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({ email: email }, 40000)
			});
	
			if (!response.ok) {
				//console.error('Error Getting Credit info:', response.statusText);
				throw new Error('Network response was not ok');
			}
	
			const responseData = await response.json();
			const credits_available = responseData.credit_limit;
			
			return credits_available;
			
		} catch (error) {
			//console.error('Error Getting Credits:', error);
			return 0;
		}
	}

	function displayCredits(){
		const email = rcmail.env.user_name;
		if(email){
			getCredits(email).then(credits=>{
				const aboutElement = document.getElementsByClassName('about')[0];  // Get the first element with class 'about'
				const spanElement = aboutElement.querySelector('span');
				spanElement.innerText = credits;
				spanElement.style.setProperty('display', 'block', 'important');
				
			}).catch(error => {
				console.error('Error getting credits:', error);
			});
		}
	}

	function injectEditButton() {
		// Check if the URL contains _mbox=Scheduled
		const urlParams = new URLSearchParams(window.location.search);
		const mboxValue = urlParams.get('_mbox');
	
		// Inject only if _mbox=Scheduled
		if (mboxValue === 'Scheduled') {
			// Locate the rightcol div
			const rightCol = document.getElementsByClassName('rightcol')[0];
			const existingCancelButton = document.getElementById('cancel-send-btn');

			if (rightCol && !existingCancelButton) {  // Check if the element is not already injected
				// Create the message-objects container
				const messageObjects = document.createElement('div');
				messageObjects.id = 'message-objects';
	
				// Create the message-buttons div
				const messageButtons = document.createElement('div');
				messageButtons.id = 'message-buttons';
				messageButtons.className = 'information ui alert alert-info boxinformation';
	
				// Add icon and draft message
				const icon = document.createElement('i');
				icon.className = 'icon';
	
				const draftMessage = document.createElement('span');
				draftMessage.textContent = 'This is a Scheduled message.';
	
				// Non-breaking space
				const space = document.createTextNode('\u00A0');
	
				// Create the Edit button
				const editBtn = document.createElement('a');
				editBtn.href = '#';
				editBtn.onclick = function() { rcmail.command('delete','',this,event); rcmail.command('delete','',this,event); };
				editBtn.className = 'btn btn-primary btn-sm';
				editBtn.id = 'cancel-send-btn'
				editBtn.textContent = 'Cancel Send';
	
				// Append elements to message-buttons
				messageButtons.appendChild(icon);
				messageButtons.appendChild(draftMessage);
				messageButtons.appendChild(space);
				messageButtons.appendChild(editBtn);
	
				// Append message-buttons to message-objects
				messageObjects.appendChild(messageButtons);
	
				// Inject message-objects before messagebody in the rightcol
				const messageBody = document.getElementById('messagebody');
				if (messageBody) {
					rightCol.insertBefore(messageObjects, messageBody);
				}
			}
		}
	}
	
	// Function to detect URL changes using pushState or replaceState
	function monitorURLChanges() {
		const originalPushState = history.pushState;
		const originalReplaceState = history.replaceState;
	
		// Override history.pushState to detect changes
		history.pushState = function() {
			originalPushState.apply(this, arguments);
			injectEditButton();  // Call function after pushState
		};
	
		// Override history.replaceState to detect changes
		history.replaceState = function() {
			originalReplaceState.apply(this, arguments);
			injectEditButton();  // Call function after replaceState
		};
	
		// Also detect back/forward navigation (popstate)
		window.addEventListener('popstate', function() {
			injectEditButton();  // Call function after popstate event
		});
	}

	function showEmailMismatchWarning() {
		const frame = document.querySelector('#layout-content .iframe-wrapper #messagecontframe');
		let messageObjectsDiv;
		if(frame){
			messageObjectsDiv = frame.contentDocument.getElementById('message-objects');
		}else{
			messageObjectsDiv = document.getElementById('message-objects');
		}
		
	
		if (!messageObjectsDiv) {
			//console.error("Parent element with ID 'message-objects' not found.");
			return;
		}
	
		const existingWarning = messageObjectsDiv.querySelector('#spam-message');
		if (!existingWarning) {
			const warningDiv = document.createElement('div');
			warningDiv.id = 'spam-message';
			warningDiv.className = 'ui alert alert-warning boxwarning';
			warningDiv.style = '';
	
			// Add warning content
			warningDiv.innerHTML = `
				<i class="icon"></i>
				<span>Would you like to trust the sender? Email and name do not match.</span>
				&nbsp;<span class="boxbuttons">
					<a href="#trust-sender" onclick="trustSender()" class="btn btn-primary btn-sm">Trust Sender</a>
				</span>
			`;
	
			messageObjectsDiv.appendChild(warningDiv);
		}
	}

	function trustSender() {
		const frame = document.querySelector('#layout-content .iframe-wrapper #messagecontframe');
		let warningDiv;
		if(frame){
			warningDiv = frame.contentDocument.getElementById('spam-message');
		}else{
			warningDiv = document.getElementById('spam-message');
		}
		
		if (warningDiv) {
			warningDiv.style.display = 'none';
		}
		//console.log("Sender trusted. Warning hidden.");
	}
	

	function injectTranslateLink() {

		// display credits
		displayCredits();

		//changes in footer on compose page
		if (window.location.href.includes('task=mail')){
			const elements = document.querySelectorAll('.pagenav.menu.footer');
			if(elements){
				elements.forEach(element => {
					element.style.setProperty('border-left', 'none', 'important');
					element.style.setProperty('margin-left', '0', 'important');
				});
			}
		}

		// edit options from prefernces
		try{
			
			const SpecialFolders = document.getElementById('rcmrowfolders');
			const ServerSettings = document.getElementById('rcmrowserver');
			const Encryption=  document.getElementById('rcmrowencryption');
			const DisplaySettings = document.getElementById('rcmrowmailview');
			const Composing = document.getElementById('rcmrowcompose');
			SpecialFolders.remove();
			ServerSettings.remove();
			Encryption.remove();

			DisplaySettings.querySelector('td').innerHTML = 'Advance Settings';
			Composing.querySelector('td').innerHTML = 'Preferences';

			//document.querySelector('a[title="Manage responses"]')?.remove();
			//const Responses = document.getElementById('settingstabresponses');
			//Responses.remove();

		}catch(e){
			//console.log(e);
		}
		

		// to change formating of the page number
		const element = document.querySelector('.pagenav-text#rcmcountdisplay');

		if (element) {
			let text = element.textContent;
			text = text.replace('Messages', '').replace(' to ', '-').trim();
			element.textContent = text;
		}

		// injecting translate link
		const frame = document.querySelector('#layout-content .iframe-wrapper #messagecontframe');
		let headerLinks;
		if(frame){
			headerLinks = frame.contentDocument.getElementsByClassName('header-links')[0];
		}else{
			headerLinks = document.getElementsByClassName('header-links')[0];
		}
		
		if (headerLinks) {
			// Create a new <a> element
			const translateLink = document.createElement('a');
			translateLink.href = "#translate";
			translateLink.className = "translate-link headers-all"; // Add a custom class
			translateLink.setAttribute("data-toggle", "modal");
			translateLink.setAttribute("data-target", "#translate-modal");
			
			translateLink.style.backgroundImage = 'linear-gradient(90deg, #00ceb1 0%, #1E92FB 100%)';
			translateLink.style.webkitBackgroundClip = 'text';  
			translateLink.style.backgroundClip = 'text';       
			translateLink.style.color = 'transparent';          
			translateLink.style.marginLeft = '5px';
	
			translateLink.onclick = function () {
				populateTranslationMenu();
				return false; 
			};
			translateLink.innerHTML = 'Translate(2'

			headerLinks.appendChild(translateLink);

			const coins = document.createElement('a');
			coins.href = "#translate";
			coins.className = "coins headers-all";
			coins.style.backgroundImage = 'linear-gradient(90deg, #00ceb1 0%, #1E92FB 100%)';
			coins.style.webkitBackgroundClip = 'text';  
			coins.style.backgroundClip = 'text';       
			coins.style.color = 'transparent';
			coins.style.marginLeft = '-6px';

			coins.onclick = function(){
				populateTranslationMenu();
				return false;
			}

			coins.innerHTML = ')';
			
			headerLinks.appendChild(coins);
			
		}
		
		//Checking for spam email
		let fromEmail;
		if(frame){
			fromEmail = frame.contentDocument.getElementsByClassName('from')[0];
		}else{
			fromEmail = document.getElementsByClassName('from')[0];
		}
		
		const input = fromEmail.textContent;
		const regex = /^(.*)<(.+@.+\..+)>$/;
    	const match = input.match(regex);
		let name = null;
		let email = null;

		if (match) {
			// Extract name and email
			name = match[1].trim();
			email = match[2].trim();
		} else if (input.includes('@')) {
			// Only email is provided
			email = input.trim();
		}

		// If both name and email are present, check for a match
		if (name) {
			const nameWords = name.toLowerCase().split(/\s+/);
			const emailLower = email.toLowerCase();

			// Check if any word from the name exists in the email
			const hasMatch = nameWords.some(word => emailLower.includes(word));

			if (!hasMatch) {
				showEmailMismatchWarning();
				return false;
			}
		}

		//console.log("The email matches the name")

	}

	function populateTranslationMenu() {
		// List of languages ChatGPT supports for translation
		const languages = [
			"English", // Keep English as the first item
			"Hindi", "Bengali", "Marathi", "Tamil", "Telugu", "Gujarati", "Kannada", 
			"Malayalam", "Punjabi", "Odia (Oriya)", "Assamese", "Urdu", 
			// Other languages
			"Afrikaans", "Albanian", "Amharic", "Arabic", "Armenian", "Azerbaijani",
			"Basque", "Belarusian", "Bosnian", "Bulgarian", "Catalan", "Cebuano",
			"Chinese (Simplified)", "Chinese (Traditional)", "Corsican", "Croatian",
			"Czech", "Danish", "Dutch", "Esperanto", "Estonian", "Finnish", "French",
			"Galician", "Georgian", "German", "Greek", "Haitian Creole", "Hausa",
			"Hawaiian", "Hebrew", "Hmong", "Hungarian", "Icelandic", "Igbo",
			"Indonesian", "Irish", "Italian", "Japanese", "Javanese", "Kazakh",
			"Khmer", "Kinyarwanda", "Korean", "Kurdish", "Kyrgyz", "Lao", "Latin",
			"Latvian", "Lithuanian", "Luxembourgish", "Macedonian", "Malagasy",
			"Malay", "Maltese", "Maori", "Mongolian", "Myanmar (Burmese)", "Nepali",
			"Norwegian", "Nyanja (Chichewa)", "Pashto", "Persian", "Polish",
			"Portuguese", "Romanian", "Russian", "Samoan", "Scots Gaelic", "Serbian",
			"Sesotho", "Shona", "Sindhi", "Sinhala", "Slovak", "Slovenian", "Somali",
			"Spanish", "Sundanese", "Swahili", "Swedish", "Tagalog (Filipino)",
			"Tajik", "Tatar", "Thai", "Turkish", "Turkmen", "Ukrainian", "Uyghur",
			"Uzbek", "Vietnamese", "Welsh", "Xhosa", "Yiddish", "Yoruba", "Zulu"
		];
	
		// Get the translation list element
		let translationList2;
		const translationList = document.getElementById('translation-list');
		const frame = document.querySelector('#layout-content .iframe-wrapper #messagecontframe');
		if(frame){
			translationList2 = frame.contentDocument.getElementById('translation-list');
			translationList2.innerHTML = '';
		}
		
		// Clear existing items
		translationList.innerHTML = '';
		
		// Create and append each language as a menu item
		languages.forEach((language) => {
			const listItem = document.createElement('li');
			listItem.textContent = language;
			listItem.classList.add('list-group-item');
			listItem.classList.add('selected');
			listItem.setAttribute('data-dismiss','modal');
			listItem.onclick = () => translateEmail(language); // Attach the translateEmail function
			translationList.appendChild(listItem);
			if(frame){translationList2.appendChild(listItem);}
			
		});
	}

	function convertTranslateLink(){
		const frame = document.querySelector('#layout-content .iframe-wrapper #messagecontframe');
		let translateLink;
		if(frame){
			translateLink = frame.contentDocument.getElementsByClassName('translate-link')[0];
		}else{
			translateLink = document.getElementsByClassName('translate-link')[0];
		}
		translateLink.innerHTML = "See Orignal";
		translateLink.removeAttribute("data-toggle");
		translateLink.removeAttribute("data-modal"); // Remove the data-modal attribute
    	translateLink.removeAttribute("data-target");;
		const coins = translateLink.nextElementSibling;
		coins.style.display = "none";
		translateLink.onclick = function(event){
			event.preventDefault();
			RevertTranslation();
			return false;
		}

	}
	
	//document.getElementById('translate-modal').addEventListener('shown.bs.modal', populateTranslationMenu);
	let orignalText ;
	let orignalSubject ;
	function translateEmail(language) {
		let frame = document.querySelector('#layout-content .iframe-wrapper #messagecontframe');
		let content;
		let subject;
		if(frame){
			const messageBody = frame.contentDocument.getElementById('messagebody');
			const headerBody = frame.contentDocument.getElementById('message-header');
			content = messageBody.getElementsByClassName('pre')[0];
			subject = headerBody.getElementsByClassName('subject')[0];
			if(!content){
				content = messageBody.getElementsByClassName('message-htmlpart')[0];
				
			}
		}else{
			const messageBody = document.getElementById('messagebody');
			const headerBody = document.getElementById('message-header');
			content = messageBody.getElementsByClassName('pre')[0];
			subject = headerBody.getElementsByClassName('subject')[0];
			if(!content){
				content = messageBody.getElementsByClassName('message-htmlpart')[0];
				
			}
		}

		
		
		const emailBody = content.innerHTML;
		const sidebar = document.getElementById('layout-sidebar');
		const username = sidebar.getElementsByClassName('username')[0];
		const from_email = username.textContent;
		//const baseURL = 'https://console.gofloww.co/api/mail/'
		const subjectText = subject.innerText;

		//console.log(emailBody);
		if(content){
			const emailBody = JSON.stringify(content.innerHTML);
			//console.log( JSON.stringify({
			//	email_body: emailBody,
			//	language: language,
			//	from_email: from_email
			//}));
			var messageKey = rcmail.display_message('Translating,please wait.....', 'loading');
			const skeletonHTML = `
            <div class="skeleton-container">
                <p class="skeleton-line extra-long"></p>
                <p class="skeleton-line long"></p>
                <p class="skeleton-line medium"></p>
                <p class="skeleton-line long"></p>
				<p class="skeleton-line extra-long"></p>
                <p class="skeleton-line long"></p>
                <p class="skeleton-line medium"></p>
                <p class="skeleton-line long"></p>
				<p class="skeleton-line extra-long"></p>
                <p class="skeleton-line long"></p>
                <p class="skeleton-line medium"></p>
                <p class="skeleton-line long"></p>
            </div>
        	`;
			orignalText = JSON.stringify(content.innerHTML);
			content.innerHTML = skeletonHTML;
			
			try {
				fetch(`${baseURL}translate/`, {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify({
						language: language,
						email_body: emailBody,
						from_email: from_email,
						subject: subjectText
					},40000)
				}).then(response =>{
					if(!response.ok){
						return response.json().then(errorData => {
							const errorMessage = errorData.error || 'An unknown error occurred';
							throw new Error(errorMessage);  
						});
					}
					return response.json();
				}).then(responseData =>{
					const translatedEmail = responseData.email_body;
					const translatedSubject = responseData.subject;
					//orignalText = JSON.stringify(content.innerHTML);
					orignalSubject  =  subjectText;
					content.innerHTML = translatedEmail;
					subject.innerText = translatedSubject;
					convertTranslateLink();
					rcmail.hide_message(messageKey, false);
					displayCredits();
				}).catch(error =>{
					//console.error('Error translating email:', error);
					//console.log(error.message);
					//console.log(error.message === 'Email Already Translated')
					content.innerHTML = originalContent;
					if(error.message === 'Email Already Translated') {
						showErrorModal('error-modal', 'Error', error.message);
					}else{
						showErrorModal('error-modal', 'Too complex to translate', 'This mail is too complex to translate, we are working on this!!');
					}
					
					rcmail.hide_message(messageKey, false);
				})
			} catch (error) {
				//console.error('Error translating email:', error);
				content.innerHTML = originalContent;
				showErrorModal('error-modal', 'Error', error.message);
				rcmail.hide_message(messageKey, false);
			}
			
		}
	}

	function RevertTranslation(){
		const frame = document.querySelector('#layout-content .iframe-wrapper #messagecontframe');
		let content;
		if(frame){
			const messageBody = frame.contentDocument.getElementById('messagebody');
			const headerBody = frame.contentDocument.getElementById('message-header');
			content = messageBody.getElementsByClassName('pre')[0];
			subject = headerBody.getElementsByClassName('subject')[0];
			if(!content){
				content = messageBody.getElementsByClassName('message-htmlpart')[0];
			}
		}else{
			const messageBody = document.getElementById('messagebody');
			const headerBody = document.getElementById('message-header');
			content = messageBody.getElementsByClassName('pre')[0];
			subject = headerBody.getElementsByClassName('subject')[0];
			if(!content){
				content = messageBody.getElementsByClassName('message-htmlpart')[0];
			}
		}
		content.innerHTML = JSON.parse(orignalText);
		subject.innerText = orignalSubject;
		let translateLink;
		if(frame){
			translateLink = frame.contentDocument.getElementsByClassName('translate-link')[0];
		}else{
			translateLink = document.getElementsByClassName('translate-link')[0];
		}
		translateLink.innerHTML = "Translate2(";
		translateLink.setAttribute("data-toggle", "modal");
		translateLink.setAttribute("data-modal", "modal-value");
    	translateLink.setAttribute("data-target", "#translate-modal");
		const coins = translateLink.nextElementSibling;
		coins.style.display = "inline-block";
		translateLink.onclick = function(){
			populateTranslationMenu();
			return false;
		}
	}

	document.addEventListener('DOMContentLoaded', function() {
		//removeOrignalFolders();
		
		modifyLogoutButton();
		removeCloseAbout();
		const iframe = document.querySelector('iframe');
		const headerLinks = document.getElementsByClassName('header-links')[0];
		if (iframe || headerLinks) {
			iframe.onload = function() {
				try {
					const iframeDocument = iframe.contentDocument;
					injectTranslateLink(iframeDocument);
				} catch (e) {
					//console.error('Error accessing iframe content: ', e);
				}
			};
		}else{
			injectTranslateLink();
		}

		const options = document.getElementById('listmenulink');
		const options_mobile = document.getElementById('listmenulink-clone');
		if(options){
			const existingOnClick = options.onclick;
			options.onclick = function(event) {
			if (existingOnClick) {
				existingOnClick.call(this, event);
			}
			changeDropdownsOptions();
    };
		}
		if(options_mobile){
			const existingOnClick = options_mobile.onclick;
			options_mobile.onclick = function(event) {
			if (existingOnClick) {
				existingOnClick.call(this, event);
			}
			changeDropdownsOptions();
			}
		}
	});

	function showErrorModal(modalId, title, message) {
		// Set the modal title
		document.querySelector(`#${modalId} .modal-title`).textContent = title;
	
		// Set the modal message
		document.querySelector(`#${modalId} .modal-body`).textContent = message;
	
		// Show the modal using Bootstrap's modal function
		$(`#${modalId}`).modal('show');
	}

	function modifyLogoutButton() {
		// Select the existing logout button
		const logoutButton = document.getElementsByClassName('logout')[0];
		if (logoutButton) {
		  // Update the button attributes to trigger the modal
			logoutButton.setAttribute('type', 'button');
			logoutButton.setAttribute('data-toggle', 'modal');
			logoutButton.setAttribute('data-target', '#logout-modal');
			logoutButton.removeAttribute('href'); // Remove href since it's not needed
			logoutButton.removeAttribute('onclick'); // Remove onclick as the modal will handle the action
		} else {
			//console.error('Logout button not found');
		}
	}

	function changeDropdownsOptions(){
		['sort_col', 'sort_ord', 'mode'].forEach((name) => {
			const elements = document.getElementsByName(name);
			elements.forEach((el) => {
				if (el.classList.contains('custom-select')) {
					el.classList.remove('custom-select');
					el.classList.add('dropdown');
				}
			});
		});
	}

	function removeCloseAbout(){
		// remove close in about
		try{
			const button = document.querySelector('button.cancel.mainaction.btn.btn-primary');
			if (button) {
				button.remove();
			}
		}catch (e) {
			//console.error('Error accessing iframe content: ', e);
		}
	}

	function showPassword() {
		const passwordInput = document.getElementById('rcmloginpwd');
		const toggleButton = document.querySelector('.toggle-password');
		
		if (passwordInput.type === 'password') {
			passwordInput.type = 'text';
			toggleButton.textContent = ''; // Clear text
			toggleButton.style.setProperty('--icon-content', '"\\f070"'); // Eye-slash
		} else {
			passwordInput.type = 'password';
			toggleButton.textContent = ''; // Clear text
			toggleButton.style.setProperty('--icon-content', '"\\f06e"'); // Eye
		}
	}

	document.querySelectorAll('.folderlist li a').forEach(link => {
		if (link.innerText.trim() === "Scheduled") {
			link.classList.add('scheduled');
		}
	});

	document.addEventListener("DOMContentLoaded", function() {
		if (rcmail && rcmail.env.task !== 'login') { 
            if (document.cookie.indexOf('colorMode=dark') > -1 
                || (document.cookie.indexOf('colorMode=light') === -1 && window.matchMedia('(prefers-color-scheme: dark)').matches)
            ) {
                document.documentElement.classList.add('dark-mode');
            }
        } else {
			document.documentElement.classList.remove('dark-mode');
		}
	});

	function unsubscribe() {
		const headerValue = getListUnsubscribeHeader();
		if (headerValue) {
			if (headerValue.startsWith('mailto:')) {
				const emailAddress = headerValue.replace('mailto:', '');
				alert(`To unsubscribe, please send an email to: ${emailAddress}`);
			} else if (confirm('Are you sure you want to unsubscribe?')) {
				window.open(headerValue, '_blank');
			}
		} else {
			alert("No List-Unsubscribe header found.");
		}
	}

	function getListUnsubscribeHeader() {
		const headerElement = document.querySelector('.frame-content');
		if (!headerElement) {
			console.error('Headers not found');
			return null;
		}

		const headers = headerElement.innerHTML;

		// Regex to capture different List-Unsubscribe links
		const httpsMatch = headers.match(/https:\/\/[^\s,>]+/i);
		const httpMatch = headers.match(/http:\/\/[^\s,>]+/i);
		const mailtoMatch = headers.match(/mailto:[^\s,>]+/i);

		if (httpsMatch) {
			console.log('Using HTTPS Unsubscribe URL:', httpsMatch[0]);
			return httpsMatch[0];
		} else if (httpMatch) {
			console.log('Using HTTP Unsubscribe URL:', httpMatch[0]);
			return httpMatch[0];
		} else if (mailtoMatch) {
			console.log('Using Mailto Unsubscribe Link:', mailtoMatch[0]);
			return mailtoMatch[0];
		} else {
			console.log('No valid List-Unsubscribe link found');
			return null;
		}
	}

	function showSkeletonLoader() {
		return new Promise((resolve) => {
			const tbody = document.querySelector("#messagelist tbody");
			if (!tbody){
				resolve();
				return;
			}
			// Store the original content
			tbody.dataset.originalContent = tbody.innerHTML;
		
			// Create skeleton rows
			const skeletonRows = Array.from({ length: 11 }) // Adjust the number of skeleton rows
				.map(() => `
					<tr class="skeleton-row">
						<td class="selection"><input type="checkbox" disabled></td>
						<td class="subject">
							<span class="fromto skip-on-drag">
								<span class="adr skeleton-box" style="width: 120px; height: 12px;"></span>
							</span>
							<span class="date skip-on-drag skeleton-box" style="width: 80px; height: 12px;"></span>
							<span class="size skip-on-drag skeleton-box" style="width: 50px; height: 12px;"></span>
							<span class="subject">
								<a href="#" tabindex="-1">
									<span class="skeleton-box" style="margin-left: 1.1rem; width: 200px; height: 12px;"></span>
								</a>
							</span>
						</td>
						<td class="flags">
							
						</td>
					</tr>
				`)
				.join("");
			
			tbody.innerHTML = skeletonRows;
			setTimeout(resolve, 50);
		}); 
	}

	function removeSkeletonLoader() {
		const tbody = document.querySelector("#messagelist tbody");
		if (!tbody) return;
	
		// Select all skeleton rows and remove them
		tbody.querySelectorAll(".skeleton-row").forEach(row => row.remove());
	}

	async function searchCustom() {
		await showSkeletonLoader(); // Show skeleton loader first
	
		// Ensure rcmail.command('search') executes sequentially
		//await new Promise(resolve => {
			rcmail.command('search');
		//	setTimeout(resolve, 100); // Small delay to ensure execution
		//});
	
		//await removeSkeletonLoader(); // Remove skeleton loader after search completes
		return false;
	}
	
	function changeFunction() {
		const searchInput = document.querySelector("input#mailsearchform[name='_q']");
		
		if (searchInput) {
			const searchForm = searchInput.closest("form");
	
			if (searchForm) {
				//console.log("Form found! Overriding onsubmit...");
	
				// Remove inline `onsubmit` attribute if it exists
				searchForm.removeAttribute("onsubmit");
	
				// Remove any existing submit event listeners
				const newForm = searchForm.cloneNode(true);
				searchForm.parentNode.replaceChild(newForm, searchForm);
	
				// Add new submit event listener
				newForm.addEventListener("submit", function (event) {
					event.preventDefault(); // Prevent default form submission
					searchCustom(); // Call your custom search function
					return false;
				});
	
				//console.log("New onsubmit event added!");
			}
		} else {
			//console.warn("Search input not found! Retrying...");
			setTimeout(changeFunction, 500); // Retry after 500ms
		}
	}
	
	// Run after DOM loads
	document.addEventListener("DOMContentLoaded", changeFunction);
	
	function openPopup() {
		var isDarkMode = document.documentElement.classList.contains('dark-mode');

    	// Choose the template based on dark mode
   		var template = isDarkMode ? 'skins/roundcube-protonmail-skin/templates/dark-version.html' : 'skins/roundcube-protonmail-skin/templates/light-version.html';
		document.getElementById('popupFrame').src = template;
		document.getElementById('popupContainer').style.display = 'block';
		document.getElementById('overlay').style.display = 'block';
	}

	window.addEventListener('message', function(event) {
		if (event.data === 'closePopup') {
			closePopup();
		}
	});

	function closePopup() {
		document.getElementById('popupContainer').style.display = 'none';
		document.getElementById('overlay').style.display = 'none';
	}

	
</script>


<script src="/deps/bootstrap.bundle.min.js"></script>
<script src="/ui.js"></script>

</body>
</html>
