<roundcube:add_label name="back" />
<roundcube:add_label name="errortitle" />
<roundcube:add_label name="options" />
<roundcube:add_label name="plaintoggle" />
<roundcube:add_label name="htmltoggle" />
<roundcube:add_label name="previous" />
<roundcube:add_label name="next" />
<roundcube:add_label name="select" />
<roundcube:add_label name="close" />
<roundcube:add_label name="browse" />
<roundcube:add_label name="choosefile" />
<roundcube:add_label name="choosefiles" />
<roundcube:object name="doctype" value="html5" />
<roundcube:if condition="!env:framed || env:extwin" />
<html>
<roundcube:else />
<html class="iframe">
<roundcube:endif />
<head>
	<roundcube:object name="meta" />
	<roundcube:object name="links" />
	<link rel="stylesheet" href="/deps/bootstrap.min.css">
	<style>
		#message-header .header-links a.translate-link:before {
			content: "\f1ab" !important;
		}
		#message-header .header-links a.coins:before {
			content: "\f51e" !important;
		}
        .schedule-option {
            cursor: pointer;
            padding: 10px;
            border-radius: 5px;
        }
        .schedule-option:hover {
            background-color: #f0f0f0;
        }
        .schedule-option.active {
            background-color: #e9ecef;
        }
        .modal-footer {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        .custom-schedule {
            display: flex;
            align-items: center;
            cursor: pointer;
        }
        .custom-schedule i {
            margin-right: 10px;
        }
        #selectedDateTime {
            margin-top: 20px;
            font-size: 1.2em;
            font-weight: bold;
        }
		
		.dark-mode .schedule-option:hover {
			background-color: #8a6eff;
		}
		.dark-mode .schedule-option.active {
			background-color: #8a6eff;
		}

		#add-template-btn {
			border: 2px dashed #4a4658;
			justify-content: flex-start;
			border-radius: 10px;
		}
	
		/* Adjust Scroll Area when No Templates */
		#template-display.empty {
			height: auto;
		}

		.dark-mode #add-template-btn:hover {
			background-color: #8a6eff;;
		}

		#add-template-btn:hover {
			background-color: #4a4658;
		}

		.btn-outline-primary{
			color: #4a4658
		}
    </style>
	<style>
		#translate-modal .modal-dialog .modal-content {
			max-width: 300px; 
			margin: auto; 
		}
		.list-group-item {
			border: none; 	
			padding: 5px; 	
		}
		.list-group {
			margin: 0;
			padding: 0;
		}
		#translation-menu {
			padding: 0;
		}
		.modal-content {
			border-radius: 20px;
			border-color: #4a4658;
		}
		#no-templates{
			border-color: #4a4658;
			border-style: solid;
			height: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 20px;
			border-width: thin;
		}
		#no-templates-delete{
			border-color: #4a4658;
			border-style: solid;
			height: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 20px;
			border-width: thin;
		}
		.templates{
			border-color: #4a4658;
			border-style: solid;
			border-radius: 20px;
			border-width: thin;
			overflow-y: scroll;
			max-height: 190px;
			padding-inline-start: 0px;
			scrollbar-width: none;
    		scrollbar-color: transparent transparent;
		}

		
		
		
	</style>
	<roundcube:if condition="config:devel_mode" />
		<link rel="stylesheet/less" href="/styles/styles.less">
		<roundcube:link rel="stylesheet/less" href="/styles/print.less" condition="env:action == 'print'" />
		<script src="/deps/less.min.js" data-env="development"></script>
	<roundcube:else />
		<link rel="stylesheet" href="/styles/styles.css">
		<roundcube:link rel="stylesheet" href="/styles/print.css" condition="env:action == 'print'" />
	<roundcube:endif />
	<roundcube:if condition="env:task != 'login' && env:action != 'print' && !config:devel_mode && config:dark_mode_support" />
		<script>
		try {
			if (document.cookie.indexOf('colorMode=dark') > -1
				|| (document.cookie.indexOf('colorMode=light') === -1 && window.matchMedia('(prefers-color-scheme: dark)').matches)
			) {
				document.documentElement.className += ' dark-mode';
			}
		} catch (e) { }
		</script>
	<roundcube:endif />
</head>
<body onload = "checksubject(); checkReply(); convertMobileView(); injectTranslateLink(); modifyLogoutButton();" class="task-<roundcube:exp expression="env:error_task ?: env:task ?: 'error'"> action-<roundcube:exp expression="asciiwords(env:action, true, '-') ?: 'none'">">
	<!--Modal for auto draft-->
	<div id="auto-draft-modal" class="modal fade" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content ui-widget-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalLabel">Email AI Drafting </h5>
					<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">&#10006</button>
				</div>
				<div class="modal-body">
					<!-- Search Bar for Phrases -->
					<!--div class="mb-3">
						<label for="search-bar" class="form-label">Search for a phrase</label>
						<input type="text" id="search-bar" class="form-control" placeholder="Search for a phrase..." oninput="searchPhrases()">
						<ul id="suggestions" class="list-group listing mt-2"></ul>
					</div-->

					<!-- Detailed Information for the Email -->
					<div class="mb-3">
						<label for="email-details" class="form-label">Email Details</label>
						<textarea id="email-details" class="form-control" placeholder="Enter the details of the email..." rows="4"></textarea>
					</div>
					<!-- Generate Email Button -->
					<button id="generate-button" class="btn btn-success" onclick="generateEmail()" data-dismiss="modal">
						Generate Email (1 <i class="fa-solid fa-coins"></i>)
					</button>
				</div>
			</div>
		</div>
	</div>

	<!--Modal for Schedule Send-->
	<div class="modal fade" id="schedule-send-modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content ui-widget-content">
				<div class="modal-header">
					<h5 class="modal-title" id="scheduleSendModalLabel">Schedule send</h5>
					<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">&#10006</button>
				</div>
				<div class="modal-body">
					<p>India Standard Time</p>
					<div id="scheduleOptions"></div> <!-- Dynamic options will be inserted here -->
				</div>
				<div class="modal-footer">
					<div class="custom-schedule" data-toggle="modal" data-target="#custom-date-time-modal" data-dismiss="modal">
						<i class="bi bi-calendar3"></i>
						<span>Select date and time</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Custom Date/Time Picker Modal -->
	<div class="modal fade" id="custom-date-time-modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content ui-widget-content">
				<div class="modal-header">
					<h5 class="modal-title" id="customDateTimeModalLabel">Select date and time</h5>
					<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">&#10006</button>
				</div>
				<div class="modal-body">
					<form>
						<div class="mb-3">
							<label for="scheduleDate" class="form-label">Date</label>
							<input type="date" class="form-control" id="scheduleDate">
						</div>
						<div class="mb-3">
							<label for="scheduleTime" class="form-label">Time</label>
							<input type="time" class="form-control" id="scheduleTime">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary" id="customScheduleBtn"  onclick="handleCustomScheduleClick()">Schedule send</button>
				</div>
			</div>
		</div>
	</div>
	
	<!---Error Modal-->
	<div id="error-modal" class="modal fade" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content ui-widget-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalLabel">Error</h5>
					<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">&#10006;</button>
				</div>
				<div class="modal-body text-center">
					Something went wrong.
				</div>
			</div>
		</div>
	</div>

	<!--translage modal-->
	<div id="translate-modal" class="modal fade" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content ui-widget-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalLabel">Translate</h5>
					<a class="button unread translate" title="Show unread messages"></a>
					<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">&#10006</button>
				</div>
				<div class="modal-body">
	
					<!-- Scrollable Menu -->
					<div class="mb-3">
						<label for="translation-menu" class="form-label">Available Translations</label>
						<div id="translation-menu" class="form-control" style="height: 300px; overflow-y: scroll;">
							<!-- Add dynamically generated translations here -->
							<ul id="translation-list" class="list-group listing"></ul>
						</div>
					</div>
	
				</div>
			</div>
		</div>
	</div>

	<!--logout modal-->
	<div id="logout-modal" class="modal fade" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
		<div class="modal-dialog">
		<div class="modal-content ui-widget-content">
			<div class="modal-header">
				<h5 class="modal-title" id="logoutModalLabel">Confirm Logout</h5>
				<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">&#10006;</button>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to log out?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<a href="/?_task=logout" class="btn btn-danger" onclick="return rcmail.command('switch-task', 'logout', this, event)">
				Logout
				</a>
			</div>
		</div>
		</div>
	</div>

	<!--template modal-->
	<div id="template-modal" class="modal fade" tabindex="-1" aria-labelledby="templateModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content ui-widget-content">
				<div class="modal-header">
					<h5 class="modal-title" id="templateModalLabel">Manage Templates</h5>
					<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">&#10006;</button>
				</div>
				<div class="modal-body">
	
					<!-- Add Template Button -->
					<button id="add-template-btn" data-dismiss="modal" data-toggle="modal" data-target="#add-template-modal" class="btn btn-outline-primary w-100 d-flex align-items-center">
						<span class="me-2">+ </span> Add Your Template
					</button>
	
					<!-- Section to Display Templates -->
					<div class="mt-3" id="template-list">
						<div class="d-flex justify-content-between align-items-center">
							<label for="template-display" class="form-label">Your Templates</label>
							<div id="filter-type" class="dropdown">
								<button class="btn btn-outline-secondary dropdown-toggle type-dropdown" type="button" id="filterDropdown" data-toggle="dropdown" aria-expanded="false">
									Filter by Type
								</button>
								<ul class="dropdown-menu" id="type-filter-list" aria-labelledby="filterDropdown"></ul>
							</div>
							<div id="filter-tags" class="dropdown">
								<button class="btn btn-outline-secondary dropdown-toggle tag-dropdown" type="button" id="filterDropdown" data-toggle="dropdown" aria-expanded="false">
									Filter by Tags
								</button>
								<ul class="dropdown-menu" id="tag-filter-list" aria-labelledby="filterDropdown"></ul>
							</div>
						</div>

						<div id="no-templates">No templates added yet</div>
					</div>	
				</div>
			</div>
		</div>
	</div>

	<!--add template-->
	<div id="add-template-modal" class="modal fade" tabindex="-1" aria-labelledby="templateModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content ui-widget-content">
				<div class="modal-header">
					<h5 class="modal-title" id="templateModalLabel">Name your template</h5>
					<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">&#10006;</button>
				</div>
				<div class="modal-body">
					<!-- Template Name Input -->
					<div class="mb-3">
						<label for="template-name" class="form-label">Template Name</label>
						<input type="text" id="template-name" class="form-control" placeholder="Enter your template name here...">
					</div>
					
					<!-- Scope of Template -->
					<div class="mb-3">
						<label class="form-label">Scope of Template</label>
						<div class="d-flex">
							<div class="form-check mr-3">
								<input class="form-check-input" type="radio" name="template-scope" id="organizational" value="organizational">
								<label class="form-check-label" for="organizational">
									Organizational
								</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="radio" name="template-scope" id="private" value="private" checked>
								<label class="form-check-label" for="private">
									Private
								</label>
							</div>
						</div>
					</div>
	
					<!-- Tags Section -->
					<div class="mb-3">
						<label for="tags" class="form-label">Tags</label>
						<div class="d-flex">
							<input type="text" id="tag-input" class="form-control" placeholder="Enter a tag">
							<button type="button" class="btn btn-outline-secondary" id="add-tag-btn" onclick="addTag()">Add Tag</button>
						</div>
						<ul id="tags-list" class="list-unstyled mt-2"></ul>
					</div>
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary" id="saveTemplateBtn" onclick="saveTemplate()" data-dismiss="modal">Save Template</button>
				</div>
			</div>
		</div>
	</div>
	

	<!--template limit modal-->
	<div id="template-limit-modal" class="modal fade" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content ui-widget-content">
				<div class="modal-header">
					<h5 class="modal-title" id="logoutModalLabel">Template limit reached</h5>
					<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">&#10006;</button>
				</div>
				<div class="modal-body">
					<p>Would you like to delete a template to make space?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					<a href="#" class="btn btn-danger" data-dismiss="modal" data-toggle="modal" data-target="#delete-template-modal" onclick="getTemplatesToDelete()">
					Delete a template
					</a>
				</div>
			</div>
		</div>
	</div>

	<!--delete template modal-->
	<div id="delete-template-modal" class="modal fade" tabindex="-1" aria-labelledby="templateModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content ui-widget-content">
				<div class="modal-header">
					<h5 class="modal-title" id="templateModalLabel">Delete Templates</h5>
					<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">&#10006;</button>
				</div>
				<div class="modal-body">
	
					<!-- Section to Display Templates -->
					<div class="mt-3" id="delete-template-list">
						<label for="template-display" class="form-label">Your Templates</label>

						<div id="no-templates-delete">No templates to delete</div>
					</div>	
				</div>
			</div>
		</div>
	</div>

	<!--delete tempalte confirmation modal-->
	<div id="delete-confirm-modal" class="modal fade" tabindex="-1" aria-labelledby="deleteConfirmModalLabel" aria-hidden="true">
		<div class="modal-dialog">
		<div class="modal-content ui-widget-content">
			<div class="modal-header">
				<h5 class="modal-title" id="logoutModalLabel">Confirm Delete Template</h5>
				<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">&#10006;</button>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to delete the template ?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<a href="#" class="btn btn-danger" id="confirmDeleteTemplateButton" onclick="deleteTemplate()">
				Delete
				</a>
			</div>
		</div>
		</div>
	</div>

	<!--Reply assist modal-->
	<div id="reply-assist-modal" class="modal fade" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content ui-widget-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalLabel">Reply Assist </h5>
					<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">&#10006</button>
				</div>
				<div class="modal-body">
					<!-- Search Bar for Phrases -->
					<!--div class="mb-3">
						<label for="search-bar" class="form-label">Search for a phrase</label>
						<input type="text" id="search-bar" class="form-control" placeholder="Search for a phrase..." oninput="searchPhrases()">
						<ul id="suggestions" class="list-group listing mt-2"></ul>
					</div-->

					<!-- Detailed Information for the Email -->
					<div class="mb-3">
						<label for="reply-details" class="form-label">Would you like to give some more details..</label>
						<textarea id="reply-details" class="form-control" placeholder="Enter the details for your reply..." rows="4"></textarea>
					</div>
					<!-- Generate Email Button -->
					<button id="generate-button" class="btn btn-success" onclick="replyAssist();" data-dismiss="modal">
						Generate Reply (2 <i class="fa-solid fa-coins"></i>)
					</button>
				</div>
			</div>
		</div>
	</div>
	
	
	<roundcube:if condition="!env:framed || env:extwin" />
		<div id="<roundcube:exp expression="env:action == 'print' ? 'print-' : ''">layout">
	<roundcube:endif />
