<roundcube:add_label name="back" />
<roundcube:add_label name="errortitle" />
<roundcube:add_label name="options" />
<roundcube:add_label name="plaintoggle" />
<roundcube:add_label name="htmltoggle" />
<roundcube:add_label name="previous" />
<roundcube:add_label name="next" />
<roundcube:add_label name="select" />
<roundcube:add_label name="close" />
<roundcube:add_label name="browse" />
<roundcube:add_label name="choosefile" />
<roundcube:add_label name="choosefiles" />
<roundcube:object name="doctype" value="html5" />
<roundcube:if condition="!env:framed || env:extwin" />
<html>
<roundcube:else />
<html class="iframe">
<roundcube:endif />
<head>
	<roundcube:object name="meta" />
	<roundcube:object name="links" />
	<link rel="stylesheet" href="/deps/bootstrap.min.css">
	<style>
		#message-header .header-links a.translate-link:before {
			content: "\f1ab" !important;
		}
		#message-header .header-links a.coins:before {
			content: "\f51e" !important;
		}
        .schedule-option {
            cursor: pointer;
            padding: 10px;
            border-radius: 5px;
        }
        .schedule-option:hover {
            background-color: #f0f0f0;
        }
        .schedule-option.active {
            background-color: #e9ecef;
        }
        .modal-footer {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        .custom-schedule {
            display: flex;
            align-items: center;
            cursor: pointer;
        }
        .custom-schedule i {
            margin-right: 10px;
        }
        #selectedDateTime {
            margin-top: 20px;
            font-size: 1.2em;
            font-weight: bold;
        }
		
		.dark-mode .schedule-option:hover {
			background-color: #8a6eff;
		}
		.dark-mode .schedule-option.active {
			background-color: #8a6eff;
		}
    </style>
	<style>
		.modal-content {
			max-width: 300px; 
			margin: auto; 
		}
		.list-group-item {
			border: none; 	
			padding: 5px; 	
		}
		.list-group {
			margin: 0;
			padding: 0;
		}
		#translation-menu {
			padding: 0;
		}
	</style>
	<roundcube:if condition="config:devel_mode" />
		<link rel="stylesheet/less" href="/styles/styles.less">
		<roundcube:link rel="stylesheet/less" href="/styles/print.less" condition="env:action == 'print'" />
		<script src="/deps/less.min.js" data-env="development"></script>
	<roundcube:else />
		<link rel="stylesheet" href="/styles/styles.css">
		<roundcube:link rel="stylesheet" href="/styles/print.css" condition="env:action == 'print'" />
	<roundcube:endif />
	<roundcube:if condition="env:action != 'print' && !config:devel_mode && config:dark_mode_support" />
		<script>
		try {
			if (document.cookie.indexOf('colorMode=dark') > -1
				|| (document.cookie.indexOf('colorMode=light') === -1 && window.matchMedia('(prefers-color-scheme: dark)').matches)
			) {
				document.documentElement.className += ' dark-mode';
			}
		} catch (e) { }
		</script>
	<roundcube:endif />
</head>
<body onload = "checksubject(); checkReply(); convertMobileView(); injectTranslateLink(); modifyLogoutButton();" class="task-<roundcube:exp expression="env:error_task ?: env:task ?: 'error'"> action-<roundcube:exp expression="asciiwords(env:action, true, '-') ?: 'none'">">
	<!--Modal for auto draft-->
	<div id="auto-draft-modal" class="modal fade" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content ui-widget-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalLabel">Email AI Drafting </h5>
					<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">&#10006</button>
				</div>
				<div class="modal-body">
					<!-- Search Bar for Phrases -->
					<!--div class="mb-3">
						<label for="search-bar" class="form-label">Search for a phrase</label>
						<input type="text" id="search-bar" class="form-control" placeholder="Search for a phrase..." oninput="searchPhrases()">
						<ul id="suggestions" class="list-group listing mt-2"></ul>
					</div-->

					<!-- Detailed Information for the Email -->
					<div class="mb-3">
						<label for="email-details" class="form-label">Email Details</label>
						<textarea id="email-details" class="form-control" placeholder="Enter the details of the email..." rows="4"></textarea>
					</div>
					<!-- Generate Email Button -->
					<button id="generate-button" class="btn btn-success" onclick="generateEmail()" data-dismiss="modal">
						Generate Email (1 <i class="fa-solid fa-coins"></i>)
					</button>
				</div>
			</div>
		</div>
	</div>

	<!--Modal for Schedule Send-->
	<div class="modal fade" id="schedule-send-modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content ui-widget-content">
				<div class="modal-header">
					<h5 class="modal-title" id="scheduleSendModalLabel">Schedule send</h5>
					<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">&#10006</button>
				</div>
				<div class="modal-body">
					<p>India Standard Time</p>
					<div id="scheduleOptions"></div> <!-- Dynamic options will be inserted here -->
				</div>
				<div class="modal-footer">
					<div class="custom-schedule" data-toggle="modal" data-target="#custom-date-time-modal" data-dismiss="modal">
						<i class="bi bi-calendar3"></i>
						<span>Select date and time</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Custom Date/Time Picker Modal -->
	<div class="modal fade" id="custom-date-time-modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content ui-widget-content">
				<div class="modal-header">
					<h5 class="modal-title" id="customDateTimeModalLabel">Select date and time</h5>
					<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">&#10006</button>
				</div>
				<div class="modal-body">
					<form>
						<div class="mb-3">
							<label for="scheduleDate" class="form-label">Date</label>
							<input type="date" class="form-control" id="scheduleDate">
						</div>
						<div class="mb-3">
							<label for="scheduleTime" class="form-label">Time</label>
							<input type="time" class="form-control" id="scheduleTime">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary" id="customScheduleBtn"  onclick="handleCustomScheduleClick()">Schedule send</button>
				</div>
			</div>
		</div>
	</div>
	
	<!---Error Modal-->
	<div id="error-modal" class="modal fade" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content ui-widget-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalLabel">Error</h5>
					<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">&#10006;</button>
				</div>
				<div class="modal-body text-center">
					Something went wrong.
				</div>
			</div>
		</div>
	</div>

	<!--translage modal-->
	<div id="translate-modal" class="modal fade" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content ui-widget-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalLabel">Translate</h5>
					<a class="button unread translate" title="Show unread messages"></a>
					<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">&#10006</button>
				</div>
				<div class="modal-body">
	
					<!-- Scrollable Menu -->
					<div class="mb-3">
						<label for="translation-menu" class="form-label">Available Translations</label>
						<div id="translation-menu" class="form-control" style="height: 300px; overflow-y: scroll;">
							<!-- Add dynamically generated translations here -->
							<ul id="translation-list" class="list-group listing"></ul>
						</div>
					</div>
	
				</div>
			</div>
		</div>
	</div>

	<!--logout modal-->
	<div id="logout-modal" class="modal fade" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
		<div class="modal-dialog">
		<div class="modal-content ui-widget-content">
			<div class="modal-header">
				<h5 class="modal-title" id="logoutModalLabel">Confirm Logout</h5>
				<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">&#10006;</button>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to log out?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<a href="/?_task=logout" class="btn btn-danger" onclick="return rcmail.command('switch-task', 'logout', this, event)">
				Logout
				</a>
			</div>
		</div>
		</div>
	</div>
	
	
	<roundcube:if condition="!env:framed || env:extwin" />
		<div id="<roundcube:exp expression="env:action == 'print' ? 'print-' : ''">layout">
	<roundcube:endif />
