<roundcube:include file="includes/layout.html" />

<h1 class="voice"><roundcube:label name="about" /></h1>

<div class="frame-content">
	<roundcube:object name="aboutcontent" />
	<div class="floww-desktop-light-version-part">
		<div class="floww-main-part">
		  <div class="floww-main-part-div-element">
			<div style="width: 50%; height: 100%">
			  <div class="floww-banner-images">
				<div class="floww-banner-image-inner-part">
				  <img
					src="/images/TESS - 01 - Desktop 1.png"
					alt=""
					style="
					  width: 100%;
					  height: 100%;
					  border-radius: 10px 0 0 10px;
					"
				  />
				</div>
			  </div>
			</div>
			<div style="width: 50%; height: 100%; padding: 20px">
			  <div class="floww-close-button-part">
				<button class="close-btn">
				  <span style="font-size: 2.5rem">&#10006;</span>
				</button>
			  </div>
			  <div class="modal">
				<div class="floww-heading-text">
				  <p style="font-weight: bold">TESS</p>
				</div>
				<div class="floww-paragraph-inner">
				  <p>Your AI Assistant</p>
				</div>
				<div class="floww-last-paragraph">
				  <p>
					Get instant help, answers, and <br />
					more from our AI assistant.
				  </p>
				</div>
				<div class="terms">
				  <input type="checkbox" />
				  <p>I agree to the Terms and Conditions.</p>
				</div>
				<div>
				  <button class="submit-btn">Submit</button>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	</div>

</div>


<roundcube:include file="includes/footer.html" />
