<roundcube:include file="includes/layout.html" />

<h1 class="voice"><roundcube:label name="about" /></h1>

<div class="frame-content">
	<roundcube:object name="aboutcontent" />
	<h2 class="sysname">Floww AI Mail 1.2.0</h2>
	<p class="copyright">Copyright 2024 @ <a href="https://gofloww.co" target="_blank">Floww APIs Pvt. Ltd.</a></p>
	<p class="license">Floww AI Mail is a product of Floww APIs Private Limited, an Indian Privately held Company. It is not allowed to redistribute this product without the consent of the company. This is an evolving product and might have some bugs, we at Floww would apreciate your feedback. You can write to us at info@gofloww.co</p>
</div>

<roundcube:include file="includes/footer.html" />
