#reply-assist-btn {
    display: inline-block;
    margin: 2px 2px 2px 4px;
    width: 70px;
    height: 28px;
    border-radius: 0.25rem;
    color: #222f3e; 
    text-align: center;
    line-height: 28px; 

    
    transition: background-color 0.2s, border-color 0.2s;
}

#reply-assist-btn:focus,
#reply-assist-btn:hover {
    text-decoration: none;
    border-color: #e2e4e7;
    background-color: #dee0e2; 
}

